{{ use ('yii/widgets') }}
{{ use ('dmstr/modules/prototype/widgets/TwigWidget') }}
{{ use ('dmstr/cookiebutton/CookieButton') }}

{% set backendItems = Tree.getMenuItems('backend', true) %}

<div class="container-fluid">

    <div class="nav navbar-right">

        {{ twig_widget_widget({
            'key': 'frontend.extra.menuItems',
            'renderEmpty': false,
        }) }}

    </div>

</div>




<div id="sidebar-wrapper" class="{{ app.request.cookies.get('hrzg-backend_toolbar') ? 'active' : '' }}">

    <div id="sidebar-toggle">

        <div class="btn-group-vertical" role="group">

        {{ use ('dmstr/cookiebutton') }}
        {{ cookie_button_widget(
            {
                'label': '<i class="fa fa-heart-o"></i>',
                'encodeLabel': false,
                'cookieName': 'hrzg-backend_toolbar',
                'cookieValue': 'on',
                'cookieOptions': {
                    'path': '/',
                    'http': true,
                    'expires': 7
                },
                'options': {
                    'class': 'btn btn-primary btn-lg',
                    'onclick': 'toggleSidebar()'
                }
            }
        ) }}

        {{ button_dropdown_widget({
            'label': '<i class="fa fa-cog"></i>',
            'encodeLabel': false,
            'dropdown': {
                'encodeLabels': false,
                'items': backendItems,
            },
        }) }}

        {{ button_dropdown_widget(
        {
            'label': '<i class="fa fa-edit"></i>',
            'encodeLabel': false,
            'dropdown': {
                'encodeLabels': false,
                'items': app.params['context.menuItems'],
            },
        }) }}

        <a class="frontend-reload btn btn-default navbar-btn hide-iframe" href="{{ app.request.url }}">
            <i class="fa fa-refresh"></i>
        </a>

        </div>

    </div>

    <div class="sidebar-panel">


        <iframe name="{{ app.params['backend.iframe.name'] }}" src="/backend"></iframe>

    </div>
</div>